


/*.App {
  text-align: center;
  background-color : blue;
  width : 100% ;
  height :100%;
}*/

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Container {
  background-size:cover;
  background-color: purple;
}*/


/**********************FONT FACE*************************/
@font-face {
  font-family: "Baloo Medium";
  src: url('../../public/fonts/baloo/BalooDa2-Medium.ttf');
  
}

@font-face {
  font-family: "Baloo Regular";
  src: url('../../public/fonts/baloo/BalooDa2-Regular.ttf');
  
}



@font-face {
  font-family: "Avenir Book";
  src: url('../../public/fonts/avenir/AvenirLTStd-Book.otf');
  
}

@font-face {
  font-family: "Avenir Roman";
  src: url('../../public/fonts/avenir/AvenirLTStd-Roman.otf');
  
}


/**********************VARIABLES*************************/

:root {
  --main-bg-color: #e6e0d8;
  --nav-color: #465D9F;
  --hover-nav-li: #b1b1d5;
  --textarea-color:#FCFCF3

;
  
}
/**********************GLOBAL**************************/
*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow:auto;
  outline: none;
}

img {
  pointer-events: none;
}

html,
body {
  background-color:var(--main-bg-color);
  padding: 0;
  margin: 0;
  font-family: "Baloo Medium";
  color:rgba(0, 0, 0, 0.98);
  width:100vw;
  height:100vh;
  
  max-width:100%;
  
}
h1{
  font-family:"Avenir Medium";
  font-weight: bold;
  display:block;
  
  

}


h2{
  display:flex;
  
  
}


p{
  
}

a {
  color: inherit;
  text-decoration: none;
}


ul{
  
}

li{
  
}

nav {
  width:100%;
}



/**********************HEADER*************************/


/*NAV*/

header{
   background: var(--nav-color);
   width:100vw;
   min-height:10vh;
   
  
}

.navbar{
 
 height : 90vh;
 width:100%;
 position:absolute;
 background: var(--nav-color);
 top:10vh;
 left:0;

 

}

.hidden{
  display:none;
}


.navbar_links{
  list-style:none;
  display:flex;
  flex-direction :column;
  justify-content:center;
  align-items:center; 
  position:relative;
  height:auto;
  gap:5vh;
  
  
  
}

.navbar_item:nth-child(1){
  border-top:0.2em solid #fff;
 
}



.navbar_item{
  
  height:auto;
  width:80vw;
  border-bottom:0.2em solid #fff;
  line-height:1.8em;
  margin-right:0.5rem;
  color:white;
  cursor:pointer;
  display:flex;
  flex-direction :column;
  justify-content:center;
  align-items:center; 
  
}

.navbar_button{
  height:3em;
  width:3em;
  display:block;
  position:absolute;
  right:0.2em;
  top:0.2em;
  cursor:pointer;
  color:black;
  background-color:var(--main-bg-color);
}


/*.navbar ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  
}



.navbar li {
  white-space: nowrap;
	border: none;
	font-family: "Baloo Medium";
 
  
}

.link{
   transition: 0.4s all ease;
}

.link:hover  {
    color: var(--main-bg-color) ;
  }*/




/*NAV LOGIN*/





/*NAV ADMIN*/

/**********************FORM*************************/

form {
  padding: 3.5em 1.7em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  /*transition: all 0.3s ease 0s;*/
  gap:2.5vh;
  
  
}

form input {
  
  background-color: var(--textarea-color);
  border-style: none solid solid none;
}

form p  {
  
  width:100%;
}

select{
  font-family:inherit;
  
}
select option {
  background-color:var(textarea-color);
}

.label_uniform{
  display:flex;
  gap:2vw;
  
}

.select-wrapper{
    
    display:flex;
    flex-direction:column;
    gap:1vh;
    height: auto;
    width: 60vw;
    /*color: #444;*/
    background: transparent;
    

  
}

.select-wrapper > select {
    width: 100%;
    height:100%;
    background: blue;
    border: 0;
    appearance: none;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
}


textarea {
  resize:none;
  width: 70vw;
  height: 10em;
  background-color: var(--textarea-color);
  border-image: none;
  border-radius: 5px 5px 5px 5px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-size: 1em;
  line-height: 1.4em;
 
  
}

textarea:focus {
  
background-color :white;
}

input[type=file] {
  
  border-style:inherit;
  background-color:inherit;

}

input[type=submit] {
  margin-top:3vh;
 
  
}



/**********************FORM REGISTER/LOGIN*************************/
.form_register{
  font-size:1.5em;
  gap:3em;
}

.input_register{
  width:15em;
  margin-left:1em;
}

/**********************FORM ADD*************************/



/**********************FORM MODIFY/DELETE*************************/


/**********************PAGES ARTICLES/ART PAR CATEGORIE*************************/


/*********************************************MEDIA QUERIES****************************************/
@media screen and (min-width : 900px){
  
  
  
  
  .navbar_links{
    
    width:80vw;
    display:flex;
    justify-content:center;
    align-items:center; 
   
    flex-direction:row;
    
  }
  .navbar_button{
    display:none;
  }

.navbar_item{
  width:auto;
  margin-right:0.5rem;
  color:white;
  cursor:pointer;
  display:flex;
  justify-content:center;
  align-items:center; 
  flex-direction:row;
}

}

/****************************TABLETTE***********************************/


/****************************DECKSTOP***********************************/






