
/**********************FONT FACE*************************/
@font-face {
  font-family: "Baloo Medium";
  src: url('../../public/fonts/baloo/BalooDa2-Medium.ttf');
  
}

@font-face {
  font-family: "Baloo Regular";
  src: url('../../public/fonts/baloo/BalooDa2-Regular.ttf');
  
}



@font-face {
  font-family: "Avenir Book";
  src: url('../../public/fonts/avenir/AvenirLTStd-Book.otf');
  
}

@font-face {
  font-family: "Avenir Roman";
  src: url('../../public/fonts/avenir/AvenirLTStd-Roman.otf');
  
}


/**********************VARIABLES*************************/

:root {
  --main-bg-color: #e6e0d8;
  --nav-color: #465D9F;
  --hover-nav-li: #b1b1d5;
  --textarea-color:#FCFCF3

;
  
}
/**********************GLOBAL**************************/
*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow:auto;
  outline: none;
}

img {
  pointer-events: none;
}

html,
body {
  background-color:var(--main-bg-color);
  padding: 0;
  margin: 0;
  font-family: "Baloo Medium";
  color:rgba(0, 0, 0, 0.98);
  width:100vw;
  height:100vh;
  
  max-width:100%;
  
}
h1{
  font-family:"Avenir Medium";
  font-weight: bold;
  display:block;
  margin-top:10vh;
  
  }


h2{
  display:flex;
  
  
}

p{
  
}

a {
  color: inherit;
  text-decoration: none;
  font-size:1.7em;
  
}


ul{
  
}

li{
  
}

nav {
  width:100%;
}



/**********************HEADER*************************/
header{
   background: var(--nav-color);
   width:100vw;
   min-height:10vh;
   position:fixed;
   
  
}
/**********************HOME*************************/

.home_container{
  gap:5vh;
}


/*NAV*/



.navbar{
 
 height : 90vh;
 width:100%;
 background: var(--nav-color);
 margin-top:10vh;
 left:0;
 

 

}

.hidden{
  display:none;
}


.navbar_links{
  list-style:none;
  display:flex;
  flex-direction :column;
  justify-content:center;
  align-items:center; 
  position:relative;
  height:auto;
  gap:3vh;
  
  
  
}


.navbar_item{
  
  height:auto;
  width:80vw;
  border-bottom:0.2em solid #fff;
  border-top:0.2em solid #fff;
 /* line-height:1.8em;*/
  margin-right:0.5rem;
  color:white;
  cursor:pointer;
  display:flex;
  flex-direction :column;
  justify-content:center;
  align-items:center; 
  
}

.navbar_button{
  height:4em;
  width:4em;
  display:block;
  position:absolute;
  right:0.2em;
  top:0.2em;
  cursor:pointer;
  color:black;
  background-color:var(--main-bg-color);
  font-family: "Baloo Medium";
  transition : 0.5s all ease-out;
}

/* .navbar_button .open_navbar :before{
  transform:rotate(45deg);
  
}

.navbar_button .open_navbar :after{
  transform:rotate(45deg);
  
}*/



.navbar_NAME{
  font-size:1.2em;
  display:flex;
  padding-left:3vw;
  color:var(--main-bg-color);
  font-weight:bold;
 
}


a.link{
   transition: 0.4s all ease;
}

a.link:hover  {
    color: var(--hover-nav-li) ;
    transition: 0.4s all ease;
  }




/*NAV LOGIN*/





/*NAV ADMIN*/

/**********************FORM*************************/

form {
  padding: 3.5em 1.7em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  /*transition: all 0.3s ease 0s;*/
  gap:2.5vh;
  
  
}

form input {
  
  background-color: var(--textarea-color);
  border-style: none solid solid none;
}

form p  {
  
  width:100%;
}

select{
  font-family:inherit;
  
}
select option {
  background-color:var(textarea-color);
}

.label_uniform{
  display:flex;
  gap:2vw;
  
}

.select-wrapper{
    
    display:flex;
    flex-direction:column;
    gap:1vh;
    height: auto;
    width: 60vw;
    /*color: #444;*/
    background: transparent;
    

  
}

.select-wrapper > select {
    width: 100%;
    height:100%;
    background: blue;
    border: 0;
    appearance: none;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
}


textarea {
  resize:none;
  width: 70vw;
  height: 10em;
  background-color: var(--textarea-color);
  border-image: none;
  border-radius: 5px 5px 5px 5px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-size: 1em;
  line-height: 1.4em;
 
  
}

textarea:focus {
  
background-color :white;
}

input[type=file] {
  
  border-style:inherit;
  background-color:inherit;

}

input[type=submit] {
  margin-top:3vh;
 
  
}



/**********************FORM REGISTER/LOGIN*************************/
.inscription_container{
   margin-top:10vh;
}

.form_container{
  font-size:1.3em;
  gap:1.5em;
  
}

.form_container_co{
  font-size:1.3em;
  gap:0.8em

}

.input_co{
  width:18em;
  margin-left:1em;
  display:flex;
  flex-direction:column;
}

.connexion_container{
  margin-top:10vh;
  
}

.title_form{
  padding-left:3vw;
  padding-top:3vh;
  font-size:1.4em;
}




/**********************FORM ADD*************************/



/**********************FORM MODIFY/DELETE*************************/

.modify_container{
  width: 100%;
  height: fit-content;
  display: flex;
  margin-top:10vh;
  flex-direction: column;
  padding-bottom: 1em;
  gap:5vh;
}

.delete_article{
  display:flex;
}
/**********************PAGES ARTICLES/ART PAR CATEGORIE*************************/
.articles_container{
    
  width: 100%;
  height: fit-content;
  display: flex;
  margin-top:10vh;
  flex-direction: column;
  padding-bottom: 1em;
  gap:5vh;

}


.title_article{
  font-size:1.5em;
  /*font-family:;*/
  display:flex;
  justify-content:center;
  
}

.image_article{
    
  object-fit: cover;
  display: flex;
  object-position: top left;
  overflow:auto;
    
}  


.articles_container a {
  font-size:1.2em;
  
}

.details_container {
  display: flex;
  margin-top:10vh;
  flex-direction: column;
  padding-bottom: 1em;
  gap:1vh;
  
}

/*********************************************MEDIA QUERIES****************************************/
@media screen and (min-width : 900px){
  
  
  
  
  .navbar_links{
    
    width:80vw;
    display:flex;
    justify-content:center;
    align-items:center; 
   
    flex-direction:row;
    
  }
  .navbar_button{
    display:none;
  }

.navbar_item{
  width:auto;
  margin-right:0.5rem;
  color:white;
  cursor:pointer;
  display:flex;
  justify-content:center;
  align-items:center; 
  flex-direction:row;
}

}

/****************************TABLETTE***********************************/


/****************************DECKSTOP***********************************/






