.THEME{
  text-align:center;
  background-color:blue;
}


body {
  background-color:#FFFAF0;
}

/*.App {
  text-align: center;
  background-color : blue;
  width : 100% ;
  height :100%;
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Container {
  background-size:cover;
  background-color: purple;
}


/**********************FONT FACE*************************/
@font-face {
  font-family: "Baloo Medium";
  src: url('../public/fonts/baloo/BalooDa2-Medium.ttf');
  
}

@font-face {
  font-family: "Baloo Regular";
  src: url('../public/fonts/baloo/BalooDa2-Regular.ttf');
  
}

@font-face {
  font-family: "Baloo Regular";
  src: url('../public/fonts/baloo/BalooDa2-Regular.ttf');
  
}


/**********************VARIABLES*************************/



/**********************GLOBAL**************************/


/**********************HEADER*************************/


/*NAV*/



/*NAV LOGIN*/



/*NAV ADMIN*/


/**********************FORM REGISTER/LOGIN*************************/


/**********************FORM ADD*************************/


/**********************FORM MODIFY/DELETE*************************/


/**********************PAGES ARTICLES/ART PAR CATEGORIE*************************/


/*********************************************MEDIA QUERIES****************************************/


/****************************TABLETTE***********************************/


/****************************DECKSTOP***********************************/






